{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          {%- assign cur = page.url | relative_url -%}
          <li><a href="{{ url }}"{% if cur == url %} class="is-active" aria-current="page"{% endif %}>{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}
