<section>
    <h3>Beyond technical skills</h3>
    <div class="centered-list">
        <h4>People manager</h4>
        <div class="left p-2">
        <ul>
            <li>Managed two different remote teams (3 and 6+ people)</li>
            <li>Handling effective 1:1s</li>
            <li>Feedback, personal growth and performance reviews</li>
            <li>Generate team KPIs for improvement and visibility</li>
            <li>Align team vision and goals</li>
            <li>Bussiness coaching training</li>
            <li>Onsite and remote team buildings</li>
        </ul>
        </div>

        <br />
        <h4>Release management</h4>
        <div class="left p-2">
        <ul>
            <li>Major and minor deliverables testing and release workflow</li>
            <li>Onpremise customers releases</li>
            <li>Android app release</li>
            <li>Working closely with field teams also at customer calls</li>
        </ul>
        </div>
    </div>
</section>
