<section>
    <h3>Cloud</h3>
    <div class="centered-list">
            <p>A master thesis: "DVega: A Grid Service Oriented Workflow Management System"</p>
            <p>Something about grid computing with Globus, workflows with WSRF and Petri Nets</p>
            <h4>At work</h4>
            <p>Design and deploy a scalable cloud Zarafa(mail) infrastructure</p>
            <p>Configuration management of a OpenChange infrastructure</p>
            <p>AWS: dynamic EC2 resources creation, load balancing, networking, S3, RDS(cluster)</p>
            <p>GC: AppEngine, Datastore, ContainerEngine, BigQuery</p>
    </div>
</section>
