<section>
    <h3>Let's get technical: Development</h3>
    <div class="centered-list">
        <p>Django + RabbitMQ + Flask + Cherrypy + Scripts + SQLAlchemy</p>
        <p>Perl + Redis</p>
        <p>PHP (also some C bindings) + MySQL</p>
        <p>JavaScript + Java + DB4O + Ant (At Shogun's Fate -MMOG-)</p>
        <p>Pandas (+ R + R-studio + ShinnyApps)</p>
        <p>Wordpress theming and plugin development</p>
        <p>JQuery (a lot) + CSS-Less (I try) + Bootstrap (Ty!) + HTML (I had to)</p>
        <h4>Why development?</h4>
        <p>Because it is creative and challenging</p>
    </div>
</section>
