<section>
    <h2>Work recap</h2>
    <p class="left">As a computer engineer I've worked at:</p>

    <div class="left" style="padding-left:2em;">
    <ul>
        <li><span class="highlight">Sysdig</span> (2018-now)</li>
            <ul><li>SDET tech lead + QA manager</li></ul>
        <li><span class="highlight">Frogtek</span> (2014-2018)</li>
            <ul><li>QA and Release manager + Django dev</li></ul>
        <li><span class="highlight">Zentyal</span> (2012-2014)</li>
            <ul><li>Devops engineer + Django developer</li></ul>
        <li><span class="highlight">Juan de Lanuza</span> (2008-2012)</li>
            <ul><li>Teaching and system and network administrator</li></ul>
    </ul>
    </div>
</section>
