<section class="about-slide">
    <h3 class="about-title">About me</h3>
    <div class="about-layout">
        <div class="about-photo">
            <img src="/images/miky_detifoss.png"/>
        </div>
        <div class="about-copy">
            <p class="about-role"><span class="highlight">Eng. Manager at Sysdig</span></p>
            <p>I live in <a href="https://www.google.es/maps/place/Zaragoza/@39.4400417,-2.1383242,6z/data=!4m2!3m1!1s0x0d5914dd5e618e91:0x49df13f1158489a8?hl=en" rel="nofollow">Zaragoza, Spain</a>.</p>
            <p>Release management, DevOps and QA background, now focused on building teams that ship reliably and keep improving.</p>
            <div class="about-tags">
                <span>People growth</span>
                <span>Remote teams</span>
                <span>Delivery</span>
            </div>
        </div>
    </div>
</section>
