<section>
    <h3>Last pictures</h3>
    <p>An idol, basket, juggling and summer camp monitor:</p>
    <img width="200px" src="/images/hobbies/senna.jpg" />
    <img width="200px" src="/images/hobbies/basket-miky.jpg" />
    <img width="200px" src="/images/hobbies/juggling-miky.jpg" />
    <img width="200px" src="/images/hobbies/camp-monitor-miky.jpg" />
    <p>Fosdem (x4), Talks, astronomy and a python "expert"</p>
    <img width="200px" src="/images/hobbies/fosdem.jpg" />
    <img width="200px" src="/images/hobbies/betabeers-talk-miky.jpg" />
    <img width="200px" src="/images/hobbies/northen-star-miky.jpg" />
    <img width="200px" src="/images/hobbies/python-miky.jpg" />
</section>
