<section>
    <h3>Last pictures</h3>
    <p>Sports, juggling and summer camp monitor:</p>
    <img width="200px" src="/images/hobbies/padel-miky.jpg" />
    <img width="200px" src="/images/hobbies/basket-miky.jpg" />
    <img width="200px" src="/images/hobbies/juggling-miky.jpg" />
    <img width="200px" src="/images/hobbies/camp-monitor-miky.jpg" />
    <p>Talks, radio and a python "expert" :)</p>
    <img width="200px" src="/images/hobbies/catedu-talk-miky.jpg" />
    <img width="200px" src="/images/hobbies/betabeers-talk-miky.jpg" />
    <img width="200px" src="/images/hobbies/rne-cuatro-gatos-miky.jpg" />
    <img width="200px" src="/images/hobbies/python-miky.jpg" />
</section>
