<section>
    <h2>That's all!</h2>
    <div class="centered-list">
        <nav>
            <p><a href="#/0/3">Computer science</a></p>
            <p><a href="#/0/8">Teaching & Journalism</a></p>
            <p><a href="#/0/9">What else motivates me</a></p>
        </nav>
    </div>
    <br />
    <h2>Links</h3>
    <ul>
        <li>Github: <a href="https://github.com/figarocorso">figarocorso</a></li>
        <li>Motivational <a href="/blog">blog</a></li>
        <li><a href="/writings">Writing compendium</a> (Spanish, sorry)</li>
        <li><a href="https://www.linkedin.com/in/migueljulian">LinkedIn</a> | <a href="http://www.lastfm.es/user/figarocorso">Last FM</a></li>
    </ul>
</section>
