<section>
    <h3>Mantras</h3>
    <p class="left">After some success and tones of failures, some key learnings:</p>

    <div class="left p-2">
    <ul >
        <li>People over resources</li>
        <li>Measure before improving it</li>
        <li>SMART goals naturally gain more traction</li>
        <li>We (humans) are prone error</li>
            <ul><li>Automate, iterate, profit</li></ul>
        <li>Deliver value ASAP so early feedback can arrive</li>
        <li>Baby steps + KISS</li>
    </ul>
    </div>
</section>
