<section>
    <h3>There are more activities to live and enjoy</h3>
    <div class="centered-list">
        <p><span class="highlight">Writing</span>: A hidden passion. Not everything but <a href="http://figarocorso.github.io">take a look</a></p>
        <p><span class="highlight">Playing the electric guitar</span>: I enjoy music... thus, why not?</p>
        <p><span class="highlight">Reading</span>: Cien Años de Soledad, Momo, Silmarillion, Hyperion, ...</p>
        <p><span class="highlight">Cinema</span>: 12 Angry Men, The Bride Princess, Intouchables, ...</p>
        <p><span class="highlight">Nature</span>: Climbing, hiking, listening, feeling, ... natur-ing!</p>
    </div>
</section>
