<section>
    <h3>Motorsport</h3>
    <img width="200px" src="/images/hobbies/motorsport-ayrton-senna-miky.jpg" />
    <span class="fragment" data-fragment-index="2"><img width="200px" src="/images/hobbies/karting-miky.jpg" /></span>
    <span class="fragment" data-fragment-index="3"><img width="200px" src="/images/hobbies/karting-fail-miky.jpg" /></span>
    <span class="fragment" data-fragment-index="4"><img width="200px" src="/images/hobbies/motorsport-certificate-miky.jpg" /></span>
    <p>An idol...<span class="fragment" data-fragment-index="2"> to emulate in many ways</span><span class="fragment" data-fragment-index="3"> (at least I try so!)</span></p>
    <p class="fragment" data-fragment-index="4">But I also love the theory... a lot.</p>
</section>
