<section>
    <h3>Agile + Quallity Assurance</h3>
    <div class="centered-list">
        <p>The "we never do this enough": TDD + PairProgramming</p>
        <p>The must: Scrum/Kanban/CustomAgileFoo + SMART + Retrospectives</p>
        <p>Tones of work: Managing and testing deploys</p>
        <p>Automation: Jenkins + GitHub pull request checker = Coverage + Tests</p>
        <p>An example: Jenkins + Docker + PRE env + Selenium + Robotframework</p>
        <p>More technologies: Sikulli - ANSTE - Espresso</p>
        <h4>Why QA? Why agile?</h4>
            <p>- Because it is critical, helpful and not everyone like it</p>
            <p>- Because it involves <em>humans</em> in the equations</p>
    </div>
</section>
