<section>
    <h3>System Administration</h3>
    <div class="centered-list">
        <h4>Linux mail infrastructure</h4>
            <p>Dovecot and Postfix with LDAP/SambaAD and HA</p>
            <p>Zarafa and SOGo groupware solutions</p>
            <p>Roundcube + Roundcube plugins development</p>
            <p>Mail filter: ClamAV, Amavis, SA, Razor</p>
            <p>Apache2, Nginx, gUnicorn-Supervisor and HAProxy</p>
            <p>HA core with Corosync and Pacemaker</p>
        <h4>Windows server administration</h4>
            <p>Active directory with GPOs</p>
            <p>IIS, DNS and mail management</p>
    </div>
</section>
