<section>
    <h3>QA * (Devops +  Backend >> Frontend)</h3>
    <div class="centered-list">
        <h4>GitOps and Infrastructure</h4>
        <div class="left p-2">
        <ul>
            <li>Jenkins, GithubActions, Terraform, Ansible, AWS/GCP/Azure</li>
            <li>K8s: OCP3.11, OCP4.X, Kops, EKS, IKS, AKS, GKE</li>
            <li>Cassandra, Postgres/MySQL, ElasticSearch, Redis, MongoDB, BigQuery</li>
            <li>OpenLDAP and/or Active Directory + SSO (SAML, OpenID)</li>
            <li>Dovecot, Postfix, Zarafa, RoundCube, Amavis, SpamAssassin</li>
        </ul>
        </div>
        <br />
        <h4>Actual programming 😜</h4>
        <div class="left p-2">
        <ul>
            <li><span class="highlight">Clean Code</span> and <span class="highlight">Code Complete</span> follower</li>
            <li>Python > Java | Bash >> Rust | PHP | Perl > Go | C | C++ </li>
            <li>Selenium, TestNG, PyTest, Cucumber, RestAssured
            <li>JavaScript and CSS (POCs level)</li>
        </ul>
        </div>
    </div>
</section>
