<section>
    <h3>Travelling</h3>
    <p>France, Andorra, Italy, Monaco, Swizerland, Belgium, Holland, England, Scotland, Ireland, Slovakia, Austria, Hungary, Bosnia, Serbia, Greece, Japan, Vietnam, Mexico, Malta, Iceland and many more to come.</p>
    <br />
    <p>But also <span class="highlight">Spain</span>. Because we usually forget how beautiful and charming is our country (37 out of <a href="https://en.wikipedia.org/wiki/Provinces_of_Spain">50</a> regions so far).</p>
    <br />
    <h3>But IMO it is not only about visiting places...</h3>
</section>
