<section>
    <h3>Travelling...</h3>
    <p>... is about meeting people, learning and living new experiences</p>
    <img width="200px" src="/images/hobbies/oma_forest_miky.png" />
    <img width="200px" src="/images/hobbies/japan-friend-miky.jpg" />
    <img width="200px" src="/images/hobbies/iceland_miky.png" />
    <img width="200px" src="/images/hobbies/graspop_miky.png" />
    <img width="200px" src="/images/hobbies/saldo_roldan_miky.png" />
    <img width="200px" src="/images/hobbies/backpack.png" />
    <img width="200px" src="/images/hobbies/els_ports_miky.png" />
    <img width="200px" src="/images/hobbies/kafla_miky.png" />
</section>
