<section>
    <h2>Vocations (the calling)</h2>
    <h3>Teaching</h3>
    <div class="centered-list">
        <p>Worked as highschool Math/CS teacher for 4 years</p>
        <p>Sometimes teaching teachers is worse than students :-)</p>
    </div>
    <h3>Journalism</h3>
    <div class="centered-list">
        <p>Worked for two years at Genbeta (2M visitors/month)</p>
        <p>"Ratones en la Red" - Computer radio segment for RNE</p>
        <p>Dozens of music reviews for several media</p>
    </div>
</section>
