<section>
    <h3>Life outside IT world</h3>
    <div class="centered-list">
        <h4>Teaching</h4>
        <div class="left p-2">
        <ul>
            <li>Worked as highschool Math/CS teacher for 4 years</li>
            <li>Develop and being part of people's growth is amazing</li>
            <li>Yearly collaboration with local university (around TDD)</li>
        </ul>
        </div>
        <br />
        <h4>Journalism</h4>
        <div class="left p-2">
        <ul>
            <li>Worked at Genbeta (2M visitors/month tech blog)</li>
            <li><i>Ratones en la Red</i>: National radio segment (RNE)</li>
            <li>Dozens of music reviews for several media</li>
        </ul>
        </div>
        <br />
        <h4>And more...</h4>
        <div class="left p-2">
        <ul>
            <li>Astronomy, motorsport, travelling, music, writing, events, books, ...</li>
        </ul>
        </div>
    </div>
</section>
