/*
    Blue: 52A3E7
    Orange: #F89700
*/

.reveal .footer {
    position: absolute;
    bottom: 4.3em;
    width: 100%;
    font-size: 0.5em;
    text-align: center;
}

.reveal .header {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 0.5em;
    height: 1.5em;
    background: rgba(200,200,200,0.5);
    padding: 0.5em;
    font-weight: bold;
    vertical-align: middle;
}

.reveal .header .left {
    font-size: 1.5em;
    margin-left: 1.5em;
    width: 50%;
    float: left;
}

.reveal .header .left a,
.reveal .header .left a:active,
.reveal .header .left a:visited,
.reveal .header .left a:hover {
    color: #FFFFFF;
}

.reveal .header .right {
    font-size: 1.5em;
    margin-right: 1.5em;
    text-align: right;
}

.reveal h3, span.highlight {
    color: #F89700;
}

.reveal h4 {
    font-weight: bold;
    color: #52A3E7;
}

.left {
    text-align: left;
}

.reveal .p-2 {
    padding-left: 2em;
}

div.centered-list {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.centered-list p {
    margin-left: 1em;
}

hr.invisible {
    border-width: 0px;
}
