#header {
    background-color: #75a816;
}

body {
    background-color: #FEFFFD;
}

table.stripped-odd tr:nth-child(odd) {
    background-color: #E8FADD;
}

#side-panel .pane-frame, #side-panel .pane-frame {
    border: solid 1px #CECECE !important;
}

#side-panel .pane-frame:hover, #side-panel .pane-frame.mouseover {
    border: solid 1px #AEACAC !important;
}
