<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Miguel Julián (Miky || Figarocorso)</title>

        <link rel="icon" href="/images/fav_migueljulian.png" type="image/jpg" />
        <link rel="shortcut icon" href="/images/fav_migueljulian.png" type="image/jpg" />

		<meta name="description" content="Personal site of Miguel Julian (aka Miky or Figarocorso).">
		<meta name="author" content="Miguel Julián">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="/assets/reveal/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal/css/night.css" id="theme">
		<link rel="stylesheet" href="/assets/reveal/css/customizations.css">

        {% include head_imports.html %}
		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="/assets/reveal/css/zenburn.css">

		<!--[if lt IE 9]>
		<script src="/assets/reveal/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
        {% include navigation.html %}
		<div class="reveal">
            <div id="footer" class="footer">
                Scroll down/up or use the arrows keys to navigate
            </div>
			<div class="slides">
            <section>
                {% include resume/landing.html %}
                {% include resume/intro.html %}
                {% include resume/development.html %}
                {% include resume/qa.html %}
                {% include resume/devops.html %}
                {% include resume/sysadmin.html %}
                {% include resume/vocations.html %}
                {% include resume/motivations.html %}
                {% include resume/events.html %}
                {% include resume/motorsport.html %}
                {% include resume/traveling.html %}
                {% include resume/traveling_pics.html %}
                {% include resume/last_pictures.html %}
                {% include resume/more.html %}
                {% include resume/last_page.html %}
            </section>
			</div>

		</div>
        {% include scripts.html %}
		<script src="/assets/reveal/js/head.min.js"></script>
		<script src="/assets/reveal/js/reveal.js"></script>
		<script src="/assets/reveal/js/reveal_configuration.js"></script>
        <script>
            Reveal.addEventListener('slidechanged', function(event) {
                document.querySelector('.reveal .footer').style.display = 'none';
            });
        </script>
	</body>
</html>
